html,body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ebeced;
  color: #3e3e3b;
  box-sizing: border-box;
  /* text-align: center; */
  display:flex;
  flex-direction: column;
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}
header {
  background-color: #3e3e3b; 
  color:#cbc5c1;
  height: 15%;
  text-align: center;
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 45px;
}
div {
  background-color: #a2aab0;
}

button {
  background-color: #4c586f;
  color: #cbc5c1;
}

.menu {
  flex-direction: row;
  align-content: flex-start;
  background-color: #ebeced;
  height: 5%;
}

footer {
  background-color: #3e3e3b; 
  color:#cbc5c1;
  height: 5%;
}


/* index */

#about {
  height: 40%;
  background-color: #ebeced;
}
#logDisp {
  height: 40%;
}

/* customer */

#name {
  height: 12%;
  background-color: #ebeced;
}
#display {
  height: 63%;
}


/* employee */

.innerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ebeced;
  height: 80%;
}
.subs {
  width: 30%;
}

/* admin */
#innerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ebeced;
  height: 75%;
}
#records {
  /* width: 20%; */
}

#form {
  /* width: 70%; */
  display:flex;
  flex-direction: column;
}
form {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fdiv {
  /* width: 80%; */
  border-style: solid;
  border-color: black;
  border-width:2px;
}