html,body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ebeced;
  color: #3e3e3b;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}
header {
  background-color: #3e3e3b; 
  color:#cbc5c1;
  height: 15%;
  text-align: center;
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 45px;
}
div {
  background-color: #a2aab0;
  padding: 5px;
}

button {
  background-color: #4c586f;
  color: #cbc5c1;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.menu {
  flex-direction: row;
  align-content: flex-start;
  background-color: #ebeced;
  height: 5%;
  border-bottom: #3e3e3b;
  border-bottom-style: solid;
  border-width: 2px;
}
form {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
input[type="text"], textarea {

  background-color : #ebeced; 

}
footer {
  background-color: #3e3e3b; 
  color:#cbc5c1;
  height: 5%;
}


/* index */

#about {
  height: 40%;
  background-color: #ebeced;
}
#logDisp {
  height: 40%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#login{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
/* customer */

#name {
  height: 12%;
  background-color: #ebeced;
}
.wrap {
  height:63%;
  background-color: #ebeced;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.display {
  height: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.content {
  height: 90%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.history{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.cDiv {
  background-color: #ebeced;
  height:45%;
}
#res {
  display: flex;
  flex-direction: column;

}
/* employee */

.innerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ebeced;
  height: 80%;
}
.subs {
  width: 30%;
}

/* admin */
#innerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ebeced;
  height: 75%;
}
.records {
  background-color: #ebeced;
  height: 90%;
  margin: 5px;
}

#form {
  display:flex;
  flex-direction: column;
}

.fdiv {
 
}
.appt, .purch{
  background-color: #ebeced;
  margin:5px;
  height: 20%;
}